@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.device-swiper .swiper-button-next,
.device-swiper .swiper-button-prev {
  color: #34c5f1;
  background: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.device-swiper .swiper-button-next:after,
.device-swiper .swiper-button-prev:after {
  font-size: 18px;
  font-weight: bold;
}

.device-swiper .swiper-button-disabled {
  opacity: 0.35;
}

.device-swiper {
  padding: 10px 5px 30px 5px;
  margin: -10px -5px 0 -5px;
}

